{% extends 'layout.html' %}

{% block title %}

	About |

{% endblock %}
 
{% block stylesheet %}
<style>
.jumbotron{ 
	text-align: center;
	color: #660066;
}

hr {
	height: 1px;
	color: #123455;
	background-color: #FCFCFC;
	border: none;
}
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>About</h1>
  <hr/>
  <p>I got the idea for Peer Findr after making a few friends at the freshman orientation. 
  Some of us were taking the same types of courses, but we didn't know if we were in the exact same class. 
  The goal of Peer Findr is to make finding new friends more efficient and adjusting to college way easier.
  If you already made friends it will let you know if you have class with them, and if you didn't yet or want to 
  make new ones, this is the perfect chance to get to your classmates better before school begins 
  (since some of us don't act the same when school's in session LOL). If someone has class with you,
  hit them up on &copy Facebook!!! Also, just to point out, having class with someone means you'll have that 
  class with them atleast once a week, not necessarily for all the days the class meets. And finally, I didn't 
  include any honors classes, so sorry in advance to the honor students, I'll try to make it up to you next 
  semester <img src="https://scottystarnes.files.wordpress.com/2012/12/happy_smiley_face.png?w=500&h=500"  height='20px' width='20px'>
  </img></p>
</div>
{% endblock %}
