{% extends 'layout.html' %}

{% block title %} Class codes | {% endblock %}

{% block content %}

<div class='well' style="background-color:#FF8585; font-size: 18px; text-align: center;" > Make sure to enter the codes from the code columns of the graphss </div> 

<h2>Math Classes</h2>
<br/>
<p>Codes for math classes available to  freshmen engineering students</p>            
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>
</thead>
<tbody>
	<tr><td>MATH 19000 - College Algebra and Trigonometry</td><td>77084</td></tr>
	<tr><td>MATH 19000 - College Algebra and Trigonometry</td><td>82240</td></tr>
	<tr><td>MATH 19000 - College Algebra and Trigonometry</td><td>82242</td></tr>
	<tr><td>MATH 19000 - College Algebra and Trigonometry</td><td>82243</td></tr>
	<tr><td>MATH 19000 - College Algebra and Trigonometry</td><td>82245</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82246</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82249</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82250</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82251</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82252</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82253</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82254</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82255</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82256</td></tr>
	<tr><td>MATH 19500 - Precalculus</td><td>82257</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82259</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82346</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82260</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82261</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82267</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82262</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82263</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82264</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82266</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82268</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82269</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82270</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82271</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82272</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82265</td></tr>
	<tr><td>MATH 20100 - Calculus I</td><td>82335</td></tr>
	<tr><td>MATH 20200 - Calculus II</td><td>82274</td></tr>
	<tr><td>MATH 20200 - Calculus II</td><td>82276</td></tr>
	<tr><td>MATH 20200 - Calculus II</td><td>82277</td></tr>
	<tr><td>MATH 20200 - Calculus II</td><td>82278</td></tr>
	<tr><td>MATH 20200 - Calculus II</td><td>82279</td></tr>
	<tr><td>MATH 20200 - Calculus II</td><td>85428</td></tr>
	<tr><td>MATH 20300 - Calculus III</td><td>82282</td></tr>
	<tr><td>MATH 20300 - Calculus III</td><td>82341</td></tr>
	<tr><td>MATH 20300 - Calculus III</td><td>82285</td></tr>
	<tr><td>MATH 20300 - Calculus III</td><td>82286</td></tr>
	<tr><td>MATH 20300 - Calculus III</td><td>82287</td></tr>
	<tr><td>MATH 20300 - Calculus III</td><td>82345</td></tr>
	<tr><td>MATH 20300 - Calculus III</td><td>82290</td></tr>
	<tr><td>MATH 20300 - Calculus III</td><td>82291</td></tr>
</tbody>
</table>

<br/>
<h2>Science Classes</h2>
<br/>
<p>Codes for science classes available to  freshmen engineering students</p>            
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>
</thead>
<tbody>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16433</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16435</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16436</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16438</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16439</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16440</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16441</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16442</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16443</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16444</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16447</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16448</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16445</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16446</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16449</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16450</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16451</td></tr>
	<tr><td>BIO 10100 - Biological Foundations I</td><td>16452</td></tr>
	<tr><td>BIO 10200 - Biological Foundations II</td><td>16458</td></tr>
	<tr><td>BIO 10200 - Biological Foundations II</td><td>16459</td></tr>
	<tr><td>BIO 10200 - Biological Foundations II</td><td>16460</td></tr>
	<tr><td>BIO 10200 - Biological Foundations II</td><td>16461</td></tr>
	<tr><td>BIO 10200 - Biological Foundations II</td><td>16462</td></tr>
	<tr><td>BIO 10200 - Biological Foundations II</td><td>16463</td></tr>
	<tr><td>BIO 10200 - Biological Foundations II</td><td>16464</td></tr>
	<tr><td>BIO 10200 - Biological Foundations II</td><td>16465</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29224</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29225</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29226</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29227</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29228</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29229</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29230</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29231</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29232</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29233</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29234</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29235</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29833</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29834</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29238</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29239</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29240</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29258</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>87717</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>87880</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>87881</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29261</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29263</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29266</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29269</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29272</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29274</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29277</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29280</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29283</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29286</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29289</td></tr>
	<tr><td>CHEM 10301 - General Chemistry I</td><td>29292</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29295</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29298</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29301</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29304</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29307</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29309</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29312</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29315</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29318</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29320</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29323</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29326</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29329</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29331</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29334</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29337</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29340</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29343</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29346</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29349</td></tr>
	<tr><td>CHEM 10401 - General Chemistry II</td><td>29325</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79249</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79250</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79251</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79252</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>91251</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79253</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79254</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79255</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79256</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79257</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79258</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79259</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79260</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>91420</td></tr>
	<tr><td>PHYS 20700 - General Physics I</td><td>79261</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>79262</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>79263</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>79264</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>88539</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>89950</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>90773</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>79265</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>79266</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>79267</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>79268</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>79269</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>88540</td></tr>
	<tr><td>PHYS 20800 - General Physics II</td><td>90597</td></tr>
	<tr><td>CSC 10300 - Introduction to Computing for Majors</td><td>30676</td></tr>
	<tr><td>CSC 10300 - Introduction to Computing for Majors</td><td>30677</td></tr>
	<tr><td>CSC 10300 - Introduction to Computing for Majors</td><td>30678</td></tr>
	<tr><td>CSC 10300 - Introduction to Computing for Majors</td><td>30679</td></tr>
</tbody>				
</table>
<br/>

<h2>English Classes</h2>
<br/>
<p>Codes for english classes available to  freshmen engineering students</p>            
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>
</thead>
<tbody>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59545</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59548</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59550</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59551</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59554</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59555</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>80201</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>80204</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>80199</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59569</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59976</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>60144</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59578</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>60145</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>60146</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59575</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59553</td></tr>
	<tr><td>ENGL 11000 - Freshman Composition</td><td>59581</td></tr>
</tbody>
</table>
<br/>

<h2>Engineering Classes</h2>
<br/>
<p>Codes for engineering classes available to  freshmen engineering students</p>            
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>
</thead>
<tbody>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30563</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30564</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30565</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30566</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30567</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30568</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30569</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30570</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30571</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30572</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30573</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30574</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30575</td></tr>
	<tr><td>ENGR 10100 - Engineering Design I</td><td>30576</td></tr>
	<tr><td>ME 14500 - Computer-Aided Drafting</td><td>30581</td></tr>
	<tr><td>ME 14500 - Computer-Aided Drafting</td><td>30582</td></tr>
	<tr><td>ME 14500 - Computer-Aided Drafting</td><td>30583</td></tr>
	<tr><td>ME 14500 - Computer-Aided Drafting</td><td>30584</td></tr>
</tbody>
</table>
<br/>

<h2>Speech Classes</h2>
<br/>
<p>Codes for speech classes available to  freshmen engineering students</p>            
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>
</thead>
<tbody>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77684</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77685</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77675</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77676</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77677</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77652</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77653</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77654</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>90121</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77655</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77656</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77658</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77659</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77662</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77663</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77665</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77666</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77667</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>80135</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>80129</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>80126</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77669</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77670</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>80122</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77671</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77672</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>80117</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77673</td></tr>
	<tr><td>SPCH 11100 - Foundations of Speech Communication</td><td>77674</td></tr>
</tbody>
</table>
<br/>

<h2>Liberal Arts Elective Classes</h2>
<br/>
<p>Codes for liberal arts elective classes available to freshmen engineering students</p>            
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>
</thead>
<tbody>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12454</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12457</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12447</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12449</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12456</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12452</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12453</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12459</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12460</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12455</td></tr>
<tr><td>ART 10000 - Introduction to the Visual Arts of the World</td><td>12458</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16925</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16922</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16934</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16940</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16943</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16949</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16946</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16955</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16937</td></tr>
<tr><td>MUS 10100 - Introduction to Music</td><td>16952</td></tr>
<tr><td>THTR 13100 - Introduction to Theatre Arts</td><td>77468</td></tr>
<tr><td>THTR 13100 - Introduction to Theatre Arts</td><td>77469</td></tr>
<tr><td>THTR 13100 - Introduction to Theatre Arts</td><td>77507</td></tr>
<tr><td>THTR 13100 - Introduction to Theatre Arts</td><td>77471</td></tr>
<tr><td>THTR 13100 - Introduction to Theatre Arts</td><td>77472</td></tr>
<tr><td>THTR 13100 - Introduction to Theatre Arts</td><td>77473</td></tr>
<tr><td>THTR 13100 - Introduction to Theatre Arts</td><td>77470</td></tr>
<tr><td>ANTH 10100 - General Anthropology</td><td>81386</td></tr>
<tr><td>ANTH 10100 - General Anthropology</td><td>81393</td></tr>
<tr><td>ANTH 10100 - General Anthropology</td><td>81387</td></tr>
<tr><td>ANTH 10100 - General Anthropology</td><td>81395</td></tr>
<tr><td>ANTH 10100 - General Anthropology</td><td>81396</td></tr>
<tr><td>ANTH 10100 - General Anthropology</td><td>81394</td></tr>
<tr><td>ANTH 20104 - Cross-Cultural Pers</td><td>81388</td></tr>
<tr><td>ASIA 10100 - Asian Cultures and Peoples</td><td>87375</td></tr>
<tr><td>ASIA 20200 - Contemporary Asia</td><td>87376</td></tr>
<tr><td>ASIA 20500 - Contemporary China</td><td>87377</td></tr>
<tr><td>BLST 10200 - African Heritage and the Caribbean-Brazilian Experience</td><td>87391</td></tr>
<tr><td>BLST 10200 - African Heritage and the Caribbean-Brazilian Experience</td><td>87392</td></tr>
<tr><td>THTR 21100 - Theatre History I</td><td>78241</td></tr>
<tr><td>THTR 21100 - Theatre History I</td><td>78284</td></tr>
<tr><td>THTR 21100 - Theatre History I</td><td>89971</td></tr>
<tr><td>THTR 21100 - Theatre History II</td><td>77485</td></tr>
<tr><td>THTR 21100 - Theatre History III</td><td>77486</td></tr>
<tr><td>WHUM 10100 - World Literature I</td><td>59997</td></tr>
<tr><td>WHUM 10100 - World Literature I</td><td>60000</td></tr>
<tr><td>WHUM 10100 - World Literature I</td><td>60021</td></tr>
<tr><td>WHUM 10100 - World Literature I</td><td>60004</td></tr>
<tr><td>WHUM 10101 - Literature in the Human Experience</td><td>80074</td></tr>
<tr><td>WHUM 10200 - World Humanities</td><td>78828</td></tr>
<tr><td>WHUM 10200 - World Humanities</td><td>87882</td></tr>
<tr><td>WHUM 10200 - World Humanities</td><td>87884</td></tr>
<tr><td>WHUM 10200 - World Humanities</td><td>87885</td></tr>
<tr><td>WHUM 10200 - World Humanities</td><td>60226</td></tr>
<tr><td>WHUM 10200 - World Humanities</td><td>87889</td></tr>
<tr><td>WHUM 10200 - World Humanities</td><td>87890</td></tr>
<tr><td>WHUM 10200 - World Humanities</td><td>87891</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12380</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12381</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12382</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12383</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12386</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12387</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12388</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12390</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12389</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12391</td></tr>
<tr><td>WCIV 10100 - Prehistory to 1500 A.D.</td><td>12385</td></tr>
<tr><td>WCIV 10200 - 1500 A.D. to the Present.</td><td>12394</td></tr>
<tr><td>WCIV 10200 - 1500 A.D. to the Present.</td><td>12395</td></tr>
<tr><td>WCIV 10200 - 1500 A.D. to the Present.</td><td>12397</td></tr>
<tr><td>WCIV 10200 - 1500 A.D. to the Present.</td><td>12399</td></tr>
<tr><td>WCIV 10200 - 1500 A.D. to the Present.</td><td>12400</td></tr>
<tr><td>WCIV 10200 - 1500 A.D. to the Present.</td><td>12403</td></tr>
<tr><td>WCIV 10200 - 1500 A.D. to the Present.</td><td>12404</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69638</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69641</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69290</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69581</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69608</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69584</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69587</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69590</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69593</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69596</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69599</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69602</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69605</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69197</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69199</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69200</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69201</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69202</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69203</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69204</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69205</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69196</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69206</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69207</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69287</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69293</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69284</td></tr>
<tr><td>PSY 10200 - Applications of Psychology in the Modern World</td><td>69198</td></tr>
<tr><td>SOC 10500 - Individual, Group and Society: An Introduction to Sociology</td><td>74856</td></tr>
<tr><td>SOC 10500 - Individual, Group and Society: An Introduction to Sociology</td><td>74855</td></tr>
<tr><td>SOC 10500 - Individual, Group and Society: An Introduction to Sociology</td><td>74854</td></tr>
<tr><td>SOC 10500 - Individual, Group and Society: An Introduction to Sociology</td><td>74857</td></tr>
<tr><td>WS 10000 - Women's/Gender Roles in Contemporary Societ</td><td>9770</td></tr>
<tr><td>WS 10000 - Women's/Gender Roles in Contemporary Societ</td><td>9771</td></tr>
<tr><td>PSC 10100 - United States Politics and Government</td><td>66952</td></tr>
<tr><td>PSC 10100 - United States Politics and Government</td><td>66953</td></tr>
<tr><td>PSC 10100 - United States Politics and Government</td><td>66957</td></tr>
<tr><td>PSC 10100 - United States Politics and Government</td><td>66960</td></tr>
<tr><td>PSC 10100 - United States Politics and Government</td><td>66963</td></tr>
<tr><td>PSC 10100 - United States Politics and Government</td><td>66966</td></tr>
<tr><td>PSC 10100 - United States Politics and Government</td><td>66969</td></tr>
<tr><td>PSC 10100 - United States Politics and Government</td><td>67101</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12358</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12359</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>78933</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12360</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12361</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12375</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12362</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12364</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12365</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12366</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12367</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12368</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12369</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12371</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12373</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12330</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>12363</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>79831</td></tr>
<tr><td> USSO 10100 - Development of the U.S. and its People</td><td>79832</td></tr>
<tr><td>AES 23202 - Survey of World Architecture I</td><td>87825</td></tr>
<tr><td>AES 23202 - Survey of World Architecture I</td><td>87826</td></tr>
<tr><td>AES 23202 - Survey of World Architecture I</td><td>87827</td></tr>
</tbody>
</table>
<br/>
<br/>
{% endblock %}